.progress-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px;
}

.progress-circle {
  position: relative;
  width: 96px;
  height: 96px;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.progress-label {
  color: #bcb4d5;
  font-size: 0.95rem;
  margin: 0;
}
